<template>
  <MTab
    :type-object="typeObject"
    :type-index="typeObject.id"
    :type="type"
    :url="url"
    :columns="columns"
    :rules="rules"
    :form-state="formState"
  >
    <a-form-item label="Nombre" name="name">
      <a-input v-model:value="formState.name" type="text" autocomplete="off" />
    </a-form-item>

    <a-form-item label="Apellido" name="surname">
      <a-input
        v-model:value="formState.surname"
        type="text"
        autocomplete="off"
      />
    </a-form-item>

    <a-form-item label="Cargo" name="ocupation">
      <a-input
        v-model:value="formState.ocupation"
        type="text"
        autocomplete="off"
      />
    </a-form-item>

    <a-form-item label="Título" name="title">
      <a-input v-model:value="formState.title" type="text" autocomplete="off" />
    </a-form-item>

    <a-form-item label="País" name="country">
      <a-select
        v-model:value="formState.country"
        placeholder="Seleccione su país"
      >
        <a-select-option value="USA">Estados Unidos</a-select-option>
        <a-select-option value="UK">Reino Unido</a-select-option>
      </a-select>
    </a-form-item>

    <a-form-item label="Ciudad" name="city">
      <a-select
        v-model:value="formState.city"
        placeholder="Seleccione su ciudad"
      >
        <a-select-option value="Seattle">Seattle</a-select-option>
        <a-select-option value="London">London</a-select-option>
      </a-select>
    </a-form-item>
  </MTab>
</template>

<script lang="ts">
import { defineComponent, reactive, UnwrapRef } from "vue";
import { Employee } from "@/interfaces";
import { ColumnProps } from "node_modules/ant-design-vue/lib/table/interface";

import MTab from "./MTab.vue";

interface FormState {
  name: string;
  surname: string;
  ocupation: string;
  title: string;
  country: string | null;
  city: string | null;
}

export default defineComponent({
  components: {
    MTab,
  },
  setup() {
    const url = "http://localhost:8081/api/employees";
    const type = "empleado";

    const columns: ColumnProps[] = [
      { title: "ID", dataIndex: "id" },
      { title: "Nombre", dataIndex: "name" },
      { title: "Apellido", dataIndex: "surname" },
      { title: "Ocupación", dataIndex: "ocupation" },
      { title: "Título", dataIndex: "title" },
      { title: "País", dataIndex: "country" },
      { title: "Ciudad", dataIndex: "city" },
    ];

    const rules = {
      name: [
        {
          required: true,
          message: "Ingrese su nombre",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese un nombre válido",
          trigger: ["change", "blur"],
        },
        {
          min: 3,
          message: "Debe contener mínimo 3 caracteres",
          trigger: ["change", "blur"],
        },
      ],
      surname: [
        {
          required: true,
          message: "Ingrese su apellido",
          trigger: "blur",
        },
        {
          whitespace: true,
          message: "Ingrese un apellido válido",
          trigger: ["change", "blur"],
        },
        {
          min: 3,
          message: "Debe contener mínimo 3 caracteres",
          trigger: ["change", "blur"],
        },
      ],
    };

    let typeObject: Employee = {
      id: 0,
      name: "",
      surname: "",
      ocupation: "",
      title: "",
      city: null,
      country: null,
    };

    const formState: UnwrapRef<FormState> = reactive({
      name: "",
      surname: "",
      ocupation: "",
      title: "",
      country: null,
      city: null,
    });

    return {
      url,
      type,
      typeObject,
      columns,
      formState,
      rules,
    };
  },
});
</script>
